:root {
    --tan: rgb(243, 243, 214);
    --gray: rgb(124, 124, 124);
    --yellow: rgb(235, 219, 10);
    --lightblue: rgb(125, 140, 200);
    --blue: rgb(23, 46, 100);
    --background: rgb(243, 243, 214);
}

