
.postBox {
    background-color: var(--blue);
    color: whitesmoke;
    border-radius: 2px;
    margin: 10px;
    }
    
.postBoxHeader {
padding: 0px 5px 0px 5px;
border-bottom: 1px solid white;
}

.postBoxBody {
font-size: 15px;
padding: 0px 10px 0px 10px;
}

.postBoxFooter {
font-size: 11px;
padding: 0px 5px 0px 5px;
border-top: 1px solid white;
margin: 1px;
}

.postBoxCommentsBox {
padding: 10px 5px 10px 5px;
background-color: var(--blue);
}
.postBoxComments {
padding: 3px;
}
.Comment1 {
background-color: var(--blue);
}
.Comment2 {
background-color: var(--lightblue);
margin-left: 50px ;

}