
.postBox {
    background-color: var(--blue);
    color: whitesmoke;
    border-radius: 2px;
    margin: 10px;
    max-width: 1000px;
    }

.DetailLine{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 62%;
}

.DetailLine p{
    font-size: 13px;
    margin-left: 5px;
}

.PostScore{
    font-size: 23px;
}
.PostScore>a{
    text-decoration: none;
}

.postBoxHeader {
    background-color: rgb(33, 63, 134);
padding: 0px 5px 0px 5px;
border-bottom: 1px solid white;
}
.postBoxHeader >h3{
    margin: 0px 0px 5px 10px;
    font-size: 25px;
}
.postBoxBody {
font-size: 15px;
padding: 0px 10px 0px 10px;
}

.postBoxFooter {
font-size: 15px;
padding: 0px 5px 0px 5px;
border-top: 1px solid white;
margin: 1px;
}




/* Styling for Comments Form */

.PostCommentForm{
    margin: 10px;
}
.PostCommentForm p{
    font-size: 15px;
    margin: 0px;
}
.PostCommentForm form{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.PostCommentForm form>p{
    width: 50%;
}
.PostCommentForm input#id_header{
    background-color: var(--lightblue);
    font-family: var(--roboto);
    font-size: 20px;
    border: 0px;
    border-radius: 5px;
    color: white;
    outline: none;
    width: 98%;
    padding: 5px;
}
.PostCommentForm input::placeholder{
    color: rgba(255, 255, 255, 0.794);
}

.PostCommentForm input[type=submit]{
    font-family: var(--roboto);
    border: 1px solid var(--lightblue);
    color: whitesmoke;
    background-color: var(--blue);
    padding: 5px;
    font-size: 17px;
    border-radius: 5px;    
    transition-duration: .2s;
}

.PostCommentForm input[type=submit]:hover{
    background-color: var(--lightblue);
    color: var(--blue);
}

/* Styling for Comments List */

.PostBoxCommentsList{
    margin: 5px 0px 0px 15px;
}

.postBoxCommentsBox {
padding: 10px 5px 10px 5px;
background-color: var(--blue);
}

.postBoxComments {
    background-color: rgb(33, 63, 134);
    padding: 0px 5px 5px 5px;
    margin: 0px 0px 10px 0px;
    width: 80%;
    border-left: 2px solid black;
}

.Comment1 {
background-color: var(--blue);
}

.Subcomment {
margin: 0px 0px 0px 50px;
padding-bottom: 0px;

}