.profilePage{
    display: flex;
    flex-direction: row;
    padding: 5px;
}
.profileBody{
    color: var(--tan);
    background-color: var(--blue);
    width: 35%;
    height: fit-content;
    margin: 10px;
    border-radius: 25px 0px;
}

.profileBody>div{
    padding: 15;
    border-bottom: 1px solid whitesmoke;
}

.profilebox{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 175px;
    height: 175px;
    border-radius: 50%;
    overflow: hidden;
    z-index: 1;
}


#portholeImg{
    width: 107%;
    position: absolute;
    bottom: -7px;
    z-index: 1;
}
#profileImg{
    display: block;
    width: 100%;
    /* z-index: 1; */
}

#UpdateProfileButton{
    text-decoration: none;
    text-align: center;
    font-family: var(--barlow-font);
    font-weight: 500;
    font-size: 15px;
    background-color: var(--blue);
    color: var(--yellow);
    border: 1px solid var(--yellow);
    padding: 3px;    
    border-radius: 3px;
    transition-duration: .2s;
}

#UpdateProfileButton:hover{
    background-color: var(--yellow);
    color: var(--blue);
}

.ProfileFollowlist{
    background-color: var(--lightblue);
}


/* Profile's Post List */
.profilePostList{
    background-color: var(--gray);
    margin: 10px;
    height: fit-content;
    padding: 10px;
}

.profilePostBox{
    margin: 5px;
    background-color: var(--blue);
    color: white;
    width: 450px;
}
.profilePostHeader{
    margin-left: 5px;
}

.profilePostHeader>p{
    font-size: small;
}

.profilePostBody{
    padding: 5px;
}

.profilePostBody>a{
    text-decoration: none;
}

.profilePostFooter{
    background-color: var(--lightblue);
}
.profilePostFooter>p{
    font-size: small;
    padding: 3px;
    color: var(--blue);
}