@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fredoka+One&display=swap');
:root{
    --fredoka-font: 'Fredoka One', cursive;
    --barlow-font:  'Barlow Semi Condensed', sans-serif;
}

header{
    background-color: var(--header-blue);
    color: var(--header-yellow);
    border: 2px solid var(--header-blue);
    padding: 0px 10px 0px 10px;
    position: sticky;
    top: 0;
    margin: 0px;
}

body{
    background-color: var(--background);
    color: var(--blue);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

#ThemeButton{
    position: absolute;
    top: 5px;
    right: 10px;
    font-family: var(--barlow-font);
    color: var(--lightblue);
    text-decoration: none;
    transition-duration: .2s;
}

#ThemeButton:hover{
    background-color: var(--lightblue);
    color: var(--blue);
}

.homeNetFeed{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#linkButton {
    color: var(--yellow);
  }
  
  #linkButton:hover {
    color: var(--lightblue);
  }
  
  #net-search{
    display: flex
  }
  
  .notfound{
    margin-left:20px
  }
  .netLinkList {
    background-color: var(--blue);
    border: 1px solid var(--blue);
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 75%;
  }
  
  .netlink {
    margin: 3px;
    text-decoration: none;
    background-color: var(--gray);
    color: white;
    padding: 3px;
    text-align: center;
  }
  
  .netlink:hover {
    background: white;
    color: var(--gray);
  }
  
  .postBox {
    background-color: var(--blue);
    color: whitesmoke;
    border-radius: 2px;
    margin: 10px;
  }
  
  .postBoxHeader {
    padding: 0px 5px 0px 5px;
    border-bottom: 1px solid white;
  }
  
  .postBoxBody {
    font-size: 15px;
    padding: 0px 10px 0px 10px;
  }
  
  .postBoxFooter {
    font-size: 11px;
    padding: 0px 5px 0px 5px;
    border-top: 1px solid white;
    margin: 1px;
  }
  
  .postBoxCommentsBox {
    padding: 10px 5px 10px 5px;
    background-color: var(--blue);
  }
  .postBoxComments {
    padding: 3px;
  }
  .Comment1 {
    background-color: var(--blue);
  }
  .Comment2 {
    background-color: var(--lightblue);
  }
  