@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Roboto&display=swap');
:root{
    --fredoka-font: 'Fredoka One', cursive;
    --barlow-font:  'Barlow Semi Condensed', sans-serif;
    --barlow-reg: 'Barlow', sans-serif;
    --roboto: 'Roboto', sans-serif;
}

header{
    background-color: var(--header-blue);
    color: var(--header-yellow);
    border: 2px solid var(--header-blue);
    padding: 0px 10px 0px 10px;
    position: sticky;
    top: 0;
    margin: 0px;
    z-index: 99;
}


body{
    background-color: var(--background);
    color: var(--blue);
    font-family: var(--roboto);
    margin: 0;
}

#ThemeButton{
    position: absolute;
    top: 5px;
    right: 10px;
    font-family: var(--barlow-font);
    color: var(--lightblue);
    text-decoration: none;
    transition-duration: .2s;
}

#ThemeButton:hover{
    background-color: var(--lightblue);
    color: var(--blue);
}


#linkButton {
color: var(--yellow);
transition-duration: .2s;
}

#linkButton:hover {
color: var(--lightblue);
}

#net-search{
display: flex
}

.notfound{
margin-left:20px
}

details:focus, summary:focus{
    outline: none;
}


.Errorpage{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Errorbox{
    width: fit-content;
    background-color: var(--blue);
    color: var(--yellow);
    padding: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin: 50px;
}

.Errorbox>h1{
    display: flex;
    font-family: var(--fredoka-font);
    font-size: 120px;
    margin: 20px 0px;
    align-items: center;
}
.Errorbox>h2{
    margin: 20px 0px;
}

.Errorlink{
    color: var(--yellow);
    text-decoration: none;
    transition-duration: .2s;
    font-family: var(--barlow-reg);
    border: 1px solid var(--yellow);
    padding: 6px;
    border-radius: 4px;
}

.Errorlink:hover{
    background-color: var(--yellow);
    color: var(--blue);
}

