:root{
    --tan: rgb(243, 243, 214);
    --gray: rgb(124, 124, 124);
    --yellow: rgb(235, 219, 10) ;
    --lightblue: rgb(125, 140, 200);
    --blue: rgb(23, 46, 100);
}

header{
    background-color: var(--blue);
    color: var(--tan);
    border: 2px solid var(--blue);
}

body{
    background-color: var(--tan);
    color: var(--blue);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#logoutText{
    color: var(--yellow);
}

#logoutText:hover{
    color: var(--lightblue);
}

.netLinkList{
    background-color: var(--blue);
    border: 1px solid var(--blue);
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 75%;
}

.netlink{
    margin: 3px;
    text-decoration: none;
    background-color: var(--gray);
    color: white;
    padding: 3px;
}

.netlink:hover{
    background: white;
    color: var(--gray);
}

.postBox{
    background-color: var(--blue);
    color: whitesmoke;
    border-radius: 2px;
    margin: 10px;
}

.postBoxHeader{
    padding:0px 5px 0px 5px;
    border-bottom: 1px solid white;
}

.postBoxBody{
    font-size: 15px;
    padding:0px 10px 0px 10px;
}

.postBoxFooter{
    font-size: 11px;
    padding:0px 5px 0px 5px;
    border-top: 1px solid white;
    margin: 1px;
}

.postBoxCommentsBox{
    padding:10px 5px 10px 5px;
    background-color: var(--blue);
}
.postBoxComments{
    padding: 3px;
}
.Comment1{
    background-color: var(--blue);
}
.Comment2{
    background-color: var(--lightblue);
}