{% load static %}

{% if request.user.site_theme == 'Light' %}
<link rel="stylesheet" href="{% static 'css/lightstyle.css' %}">
{% else %}
<link rel="stylesheet" href="{% static 'css/darkstyle.css' %}">
{% endif %}


{% if not request.user.is_authenticated %}
<link rel="stylesheet" href="{% static 'css/lightstyle.css' %}">

{% endif %}


<link rel="stylesheet" href="{% static 'css/rootstyle.css' %}">
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">

<body>
    <header>

        <div class="NavBar">

            <div class="NavBarTitle">
                <div class="ImgBox">
                    <img class="NavBarImg" src="{% static 'images/sub_yellow.png' %}" alt="SubNet Icon">
                </div>
                <a id="NavBarH1" href="/">
                    <h1>Subnet</h1>
                </a>

            </div>
            <div class="NavBarSearch">
                {% if messages %}
                {% for message in messages %}
                {% if message.tags == 'error' %}
                <p>{{message}}</p>
                {% endif %}
                {% endfor %}
                {% endif %}
                <form class="NavBarForm" action="" method="POST">
                    {% csrf_token %}
                    {{ search_form }}
                    <input id="searchSubmitButton" type="submit" value="Submit!">
                </form>
                <!-- {% if not_found %}
                    <div class="notfound">Net not found, Please Try Again!</div>
                    {% endif %} -->
            </div>
            <div class="NavBarPageLinksList">
                <a id="NavButton" href="/">Home</a>

                {% if request.user.is_authenticated %}
                <a href="/users/{{request.user}}" id="NavButton">Profile</a>
                <a id="NavButton" href="/logout">Logout</a>
                {% else %}
                <a id="NavButton" href="/login">Login</a>
                or
                <a id="NavButton" href="/signup">Signup</a>


                {% endif %}
            </div>
        </div>

        {% if request.user.site_theme == "Light" %}
        <a id="ThemeButton" href="/changetheme/">Dark Mode</a>
        {% else %}
        <a id="ThemeButton" href="/changetheme/">Light Mode</a>
        {% endif %}
    </header>
    <main>

        <h2>{{heading}}</h2>
        {% block content%}

        {% endblock %}




    </main>

</body>