{% load static %}

{% if request.user.site_theme == 'Light' %}
<link rel="stylesheet" href="{% static 'css/lightstyle.css' %}">
{% else %}
<link rel="stylesheet" href="{% static 'css/darkstyle.css' %}">
{% endif %}

<link rel="stylesheet" href="{% static 'css/rootstyle.css' %}">

<body>
    <header>
        <h1>Subnet</h1>
        <a id="linkButton" href="/">Home</a>
        {% if request.user.is_authenticated %}
        <a href="/users/{{request.user}}" id="linkButton">Profile</a>
        <a id="linkButton" href="/logout">Logout</a>
        {% if request.user.site_theme == "Light" %}
        <a id="linkButton" href="/changetheme/">Change to dark theme</a>
        {% else %}
        <a id="linkButton" href="/changetheme/">Change to light theme</a>
        {% endif %}
        {% else %}

        <a id="linkButton" href="/login">Login</a>
        or
        <a id="linkButton" href="/signup">Signup</a>


        {% endif %}

        <div id="net-search">
            <form action="" method="POST">
                {% csrf_token %}
                {{ search_form }}
                <input type="submit" value="Submit!">
            </form>
                    {% if net_not_found %}
                    Not Found
                    {% endif %}
        </div>
        <div id="user-search">
            <form action="" method="POST">
                {% csrf_token %}
                {{ user_form }}
                <input type="submit" value="Submit!">
            </form>
           
        </div>
    </header>
    <main>

        <h2>{{heading}}</h2>
        {% block content%}

        {% endblock %}




    </main>

</body>