<p style="font-size: 11px;">
    <strong>posted by user: </strong>
    <a href="/users/{{comment.author.username}}/" id="linkButton">
        {{comment.author}}
    </a>
    <a href="/upvote/{{comment.id}}/" id="linkButton">
        &#8679 upvote
    </a>
    votes: {{comment.total_score}}
    <a id="linkButton" href="/downvote/{{comment.id}}">
        downvote &#8681
    </a>
</p>
<p>{{comment.header}}</p>
<p style="font-size: 11px;"> <strong>date posted: </strong> {{comment.timestamp}}<a id="linkButton"
        href="/makecomment/{{comment.id}}">Comment</a></p>
{% if comment.get_comments %}
{% for comment in comment.get_comments %}
{% block comments %}
<div class="postBoxComments Comment2">
    {% include "comments.html" %}</div>
{% endblock %}
{% endfor %}

{% endif %}