{% extends 'base.html' %}
{% block content %}
<div id="titleBox">
    {% if logging_in %}
    <h3> Not a current user? <a href="/signup">Signup!</a></h3>
    {% elif signing_in %}
    <h3> Already a current user? <a href="/login">Login!</a></h3>
    {% endif %}
    {% if messages %}
    {% for message in messages %}
    <h3>{{message}}</h3>
    {% endfor %}
    {% endif %}


    {% if form %}
    <form enctype="multipart/form-data" action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit!">

    </form>
    {% else %}
    <h1>Sorry, you do not have permission to view this page.</h1>
    <a href="/">Back to Home</a>
    {% endif %}




</div>
{% endblock %}