{% extends 'base.html' %}
{% block content %}
<h2>{{header}}</h2>

<div class="postBox">
    <div class="postBoxHeader">
        <p style="font-size: 11px;">
            <strong>posted by user: </strong>
            <a href="/users/{{post.author.username}}/" id="linkButton">
                {{post.author}}
            </a>
            <strong> in subnet: </strong>
            <a href="/nets/{{post.subnet.title}}/" id="linkButton">
                n/{{post.subnet}}
            </a> <br>
            <a href="/upvote/{{post.id}}/" id="linkButton">
                &#8679 upvote
            </a>
            votes: {{post.total_score}}
            <a id="linkButton" href="/downvote/{{post.id}}">
                downvote &#8681
            </a>
        </p>
        <h3>{{post.header}}</h3>
    </div>
    <div class="postBoxBody">
        <p>{{post.content}}</p>
    </div>
    <div class="postBoxFooter">
        <p><strong>date posted: </strong>{{post.timestamp}}</p>
    </div>
    <div class="postBoxCommentsBox">
        <a id="linkButton" href="/makecomment/{{post.id}}">Comment</a>
        {% if comments %}
        <p>Comments:</p>
        <ul>
            {% for comment in comments %}

            {% if forloop.counter|divisibleby:2 %}
            <div class="postBoxComments Comment1">
                <p style="font-size: 11px;">
                    <strong>posted by user: </strong>
                    <a href="/users/{{comment.author.username}}/" id="linkButton">
                        {{comment.author}}
                    </a>
                    <a href="/upvote/{{comment.id}}/" id="linkButton">
                        &#8679 upvote
                    </a>
                    votes: {{comment.total_score}}
                    <a id="linkButton" href="/downvote/{{comment.id}}">
                        downvote &#8681
                    </a>
                </p>
                <p>{{comment.header}}</p>
                <p style="font-size: 11px;"> <strong>date posted: </strong> {{comment.timestamp}}</p>
            </div>
            {% else %}
            <div class="postBoxComments Comment2">
                <p style="font-size: 11px;">
                    <strong>posted by user: </strong>
                    <a href="/users/{{comment.author.username}}/" id="linkButton">
                        {{comment.author}}
                    </a>
                    <a href="/upvote/{{comment.id}}/" id="linkButton">
                        &#8679 upvote
                    </a>
                    votes: {{comment.total_score}}
                    <a id="linkButton" href="/downvote/{{comment.id}}">
                        downvote &#8681
                    </a>
                </p>
                <p>{{comment.header}}</p>
                <p style="font-size: 11px;"> <strong>date posted: </strong> {{comment.timestamp}}</p>
            </div>
            {% endif %}

            {% endfor %}
        </ul>

        {% endif %}
    </div>
</div>

<a id="linkButton" href="/nets/{{post.subnet.title}}/">Back to n/{{post.subnet.title}}</a>
{% endblock %}