{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/posts.css' %}">


<h2>{{header}}</h2>

<div class="postBox">
    <div class="postBoxHeader">
        <p style="font-size: 11px;">
            <strong>posted by user: </strong>
            <a href="/users/{{post.author.username}}/" id="linkButton">
                {{post.author}}
            </a>
            <strong> in subnet: </strong>
            <a href="/nets/{{post.subnet.title}}/" id="linkButton">
                n/{{post.subnet}}
            </a> <br>
            <a href="/upvote/{{post.id}}/" id="linkButton">
                &#8679 upvote
            </a>
            votes: {{post.total_score}}
            <a id="linkButton" href="/downvote/{{post.id}}">
                downvote &#8681
            </a>
        </p>
        <h3>{{post.header}}</h3>
    </div>
    <div class="postBoxBody">

        {% if post.content %}
        <p>{{post.content}}</p>
        {% endif %}

        {% if post.image %}
        <img style="width: 300px;" src="{{post.image.url}}" alt="{{post.image}}">
        {% endif %}


    </div>
    <div class="postBoxFooter">
        <p><strong>date posted: </strong>{{post.timestamp}}</p>
    </div>
    <div class="postBoxCommentsBox">
        <a id="linkButton" href="/makecomment/{{post.id}}">Comment</a>
        {% if comments %}
        <p>Comments:</p>
        <ul>
            {% for comment in comments %}
            {% block comments %}
            <div class="postBoxComments Comments1">
                {% include "comments.html" %}
            </div>
            {% endblock %}
            {% endfor %}
        </ul>

        {% endif %}
    </div>
</div>

<a id="linkButton" href="/nets/{{post.subnet.title}}/">Back to n/{{post.subnet.title}}</a>
{% endblock %}