{% extends 'base.html' %}
{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/messages.css' %}">

<div class="MessagesPage">
    <div class="MessagesBody">
        <h1>Messages</h1>
        {% if messages %}
        <div class="MessagesList">
            {% for message in messages %}
            <div class="MessageBox">
                <p>{{message.sender}} sent you the message:</p>
                <p>to {{message.reciever}}, {{message.msg_content}}</p>
                <p>sent on {{message.created_at}}</p>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <h3>No New Messages</h3>
        {% endif %}
        <a id="linkButton" href="/users/{{request.user.username}}">Back to Profile</a>
    </div>
</div>


{% endblock %}