{% extends 'base.html' %}
{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/notification.css' %}">

<div class="NotifPage">
  <div class="NotifBox">
    <h1 class="title">Notifications</h1>



    {% for notification in user_notifications %}

    {% if not notification.is_read %}
    {% if notification.notification_type == 'Subnet' %}
    <div class="notification">
      <p>
        <a id="NotifLink" href="/posts/{{notification.post_comment.root.id}}/">
          User, <strong>{{notification.created_by.username}}</strong>,
          posted on net, {{notification.subnet}}
          <br />
          <small>{{ notification.created_at|timesince }} ago</small>
        </a>
      </p>
    </div>
    {% elif notification.notification_type == 'Post' %}
    <div class="notification">
      <p>
        <a id="NotifLink" href="/posts/{{notification.post_comment.root.id}}/">
          <strong>{{ notification.to_user.username }}</strong>, You got
          comment from {{notification.created_by.username}}<br />
          <small>{{ notification.created_at|timesince }} ago</small>
        </a>
      </p>
    </div>

    {% endif %}


    {% endif %}

    {% endfor %}
    <a href="/makeallread/" id="NotifButton">Mark all as Read</a>

  </div>
</div>
{% endblock %}